<h1>Menu</h1>

<div class="row">
  <div class="col-12 col-md-12">
    <form [formGroup]="newMenuForm" (ngSubmit)="onSubmit()">
      <app-new-name></app-new-name>
      <br><br>
      <app-new-ingredient></app-new-ingredient>
      <br><br>
      <app-new-instruction></app-new-instruction>
      <br>
      <button type="submit" class="btn btn-primary mx-2" [disabled]="newMenuForm.invalid">
        Submit
      </button>
      <pre>form =  {{newMenuForm.value | json}}
        invalid form {{newMenuForm.invalid}}
      </pre>
    </form>
  </div>
</div>
